@charset "UTF-8";
	body {
	  margin:0px;
	}
	
	#top {
	  width:1000px;
      margin:auto;
	}
	
	#top a {
	  text-decoration:none;
	  color:black;
	  font-size:14px;
	}
	
	#top a:hover {
	  color:#0080c0;
	}
	
	#top #left {
	  width: 700px;
	  height:150px;
	  float: left;
	  text-align:left;
	}
	
	#top #right {
	  width: 300px;
	  heigth: 150px;
	  float: right;
	  text-align: center;
	}
	nav {
	  width:1000px;
	  margin:auto;
	}
	nav a {
	  text-decoration:none;
	  color:black;
	}
	nav a:hover {
	  color:lightblue;
	}
    
    /* 메뉴 */
    *{padding:0;margin:0}

	nav .menu {
	  width: 1000px;
	  overflow: hidden;
	  margin: 150px auto;
	}
	
	nav .menu > li {
	  list-style:none;
	  width: 25%; /* 25*4=100% */
	  float: left;
	  text-align: center;
	  line-height: 40px;
	  background-color: #0080c0;
	}
	
	nav .menu a {
	  color: #fff;
	}	
	
	nav .submenu {
	  height: 0; /*ul의 높이를 안보이게 처리*/
	  overflow: hidden;
	}
	nav .submenu > li {
	  line-height: 50px;
	  background-color: #60b3ce;
	}
	
	nav .menu > li:hover {
	  background-color: #60b3ce;
	  transition-duration: 0.5s;
	}
	
	nav .menu > li:hover .submenu {
	  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
	  transition-duration: 1s;
	}
	
	/* 검색창 */
	nav .search {
	  display: inline-block;
	  position: relative;
	}
	nav .search input {
	  width: 190px;
	  height: 30px;
	  padding: 4px 10px;
	  border: 1px solid #5778ff;
	  box-sizing: border-box;
	  border-radius: 5px;
	  outline: none;
	  background: #fff;
	  color: #777;
	  font-size: 12px;
	  margin-bottom:3px;
	}
	nav .search .icon {
	  height: 24px;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 5px;
	  margin: auto;
	  cursor:pointer;
	}
	
	footer {
      width:1000px;
      height:150px;
      margin:auto;
      margin-top:100px;
      border-top:2px solid lightblue;
   }
   footer #bottom {
   	  width:800px;
   	  height:150px;
   	  margin:0 auto;
   }
   #bottom #footer_logo {
      float:left;
      margin:45px 0 0 30px;
   }
   #bottom #address {
   	  float:right;
   	  margin:45px 0 0 30px;
   }
   #bottom #address li {
   	  list-style:none;
   }