@charset "UTF-8";
	body {
	  margin:0px;
	}
	
	#top {
	  width:1000px;
      height:150px;
      margin:auto;
	}
	
	#top #left {
	  width: 700px;
	  height:150px;
	  float: left;
	  text-align: center;
	}
	
	#top #right {
	  width: 300px;
	  heigth: 150px;
	  float: right;
	  text-align: center;
	}
	nav {
		width:1000px;
		height:40px;
		margin:auto;
	}
	nav a {
		text-decoration:none;
		color:black;
	}
	nav a:hover {
		color:lightblue;
	}

	footer {
      width:1000px;
      height:100px;
      margin:auto;
      background: skyblue;
   }
   
   *{padding:0;margin:0}
	li{list-style:none}
	a{text-decoration:none;font-size:14px}

	nav #menu {
  	  width: 1000px;
   	  overflow: hidden;
  	  margin: 150px auto;
	}

	nav #menu > li {
  	  width: 25%; /*25*4=100%*/
  	  float: left;
  	  text-align: center;
  	  line-height: 40px;
      background-color: skyblue;
	}

	nav .dae > li {
	  line-height: 50px;
	  background-color: lightblue;
	}

	nav .dae {
	  height: 0; /*ul의 높이를 안보이게 처리*/
	  overflow: hidden;
	}
	
	nav .jung {
	  height: 0; /*ul의 높이를 안보이게 처리*/
	  overflow: hidden;
	}
	
	nav .so {
	  height: 0; /*ul의 높이를 안보이게 처리*/
	  overflow: hidden;
	}
	
	nav #menu > li:hover {
	  background-color: lightblue;
	  transition-duration: 0.5s;
	}

	nav #menu > li:hover .dae {
	  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
	  transition-duration: 1s;
	}
	