<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mall.mapper.AdminMapper">
	<select id="adminlogin" parameterType="kr.co.mall.vo.AdminVo" resultType="kr.co.mall.vo.AdminVo">
		select userid,name from admin where userid=#{userid} and pwd=#{pwd}
	</select>
	
	<select id="getCat" resultType="kr.co.mall.vo.CatVo">
		select * from category order by id
	</select>
	<select id="getCat2" resultType="kr.co.mall.vo.Cat2Vo">
		select * from category2 where catcode=#{param} order by id
	</select>
	<select id="getCat3" resultType="kr.co.mall.vo.Cat3Vo">
		select * from category3 where catncat2=#{param} order by id
	</select>
	<select id="getCode" resultType="int">
		select ifnull(max(right(pcode,3)),0)+1 from product where pcode like concat(#{param},'%')
	</select>
	
	<insert id="product_input" parameterType="kr.co.mall.vo.ProductVo">
		insert into product(pcode,title,made,price,baesong,su,halin,juk,img1,img2,writeday)
		values(#{pcode},#{title},#{made},#{price},#{baesong},#{su},#{halin},#{juk},#{img1},#{img2},now())
	</insert>
	<select id="product_list" resultType="kr.co.mall.vo.ProductVo">
		select * from product order by pcode
	</select>
</mapper>