<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mall.mapper.MypageMapper">
	<select id="getMtm" resultType="int">
		select count(*) from mtm where userid=#{param}
	</select>
	<select id="mtm_view" resultType="kr.co.mall.vo.MtmVo">
		select *,row_number() over(order by id desc) as num 
		from mtm where userid=#{param} order by id desc
	</select>
	
	<select id="cart" resultType="kr.co.mall.vo.CartVo">
		select p.halin, c.pcode, p.img1, p.title, p.price, p.baesong,
		c.id, c.writeday, c.su from cart as c, product as p
		where userid=#{param1} and c.pcode=p.pcode
	</select>
	<update id="cart_su">
		update cart set su=#{param1}
		where pcode=#{param2} and userid=#{param3}
	</update>
	<delete id="cart_del">
		delete from cart where id=#{param}
	</delete>
	<select id="getCart" resultType="int">
		select count(*) from cart where userid=#{param}
	</select>
	
	<select id="wish" resultType="kr.co.mall.vo.WishVo">
		select p.pcode,p.img1,p.title,p.price,w.id,w.writeday
		from wish as w, product as p 
		where w.pcode=p.pcode and userid=#{param}
	</select>
	<select id="getWish" resultType="int">
		select count(*) from wish where userid=#{param}
	</select>
	<delete id="wish_del">
		delete from wish where id=#{id}
	</delete>
	<select id="cart_check" resultType="int">
		select count(*) from cart where pcode=#{param1} and userid=#{param2}
	</select>
	<update id="cart_up">
		update cart set su=su+1 where pcode=#{param1} and userid=#{param2}
	</update>
	<insert id="cart_add">
		insert into cart(pcode,userid,su,writeday) values(#{param1},#{param2},1,now())
	</insert>
	
	<select id="getOrder" resultType="int">
		select count(distinct ordercode) from orderinfo where userid=#{param}
	</select>
	
	<select id="getMember" resultType="kr.co.mall.vo.MemberVo">
		select * from member where userid=#{param}
	</select>
</mapper>