<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mall.mapper.ProductMapper">
  <select id="getPro" resultType="kr.co.mall.vo.ProductVo">
  	select * from product where pcode like concat(#{param1},'%')
  	order by id desc limit #{param2},20 
  </select>
  <select id="getChong" resultType="int">
  	select ceil(count(*)/20) from product
  	where pcode like concat(#{param1},'%')
  </select>
  
  <select id="pcontent" resultType="kr.co.mall.vo.ProductVo">
  	select * from product where pcode=#{param}
  </select>
  <select id="getWish" resultType="int">
  	select count(*) from wish where pcode=#{param1} and userid=#{param2}
  </select>
  <delete id="wish_del">
  	delete from wish where pcode=#{param1} and userid=#{param2}
  </delete>
  <insert id="wish_add">
  	insert into wish(pcode,userid,writeday) values(#{param1},#{param2},now())
  </insert>
  <insert id="cart_add">
  	insert into cart(pcode,su,userid,writeday)
  	values(#{param1},#{param2},#{param3},now())
  </insert>
  <update id="cart_up">
  	update cart set su=su+#{param2} where pcode=#{param1} and userid=#{param3}
  </update>
  <select id="IsPcode" resultType="int">
  	select count(*) from cart where pcode=#{param1} and userid=#{param2}
  </select>
  
  <select id="getNow" resultType="kr.co.mall.vo.ProductVo">
  	select pcode,img1,title from product where pcode=#{param}
  </select>
  
  <select id="getMember" resultType="kr.co.mall.vo.MemberVo">
  	select * from member where userid=#{param}
  </select>
  <select id="getBaesong" resultType="kr.co.mall.vo.BaesongVo">
  	select * from baesong where userid=#{param} and gibon=1
  </select>
  <insert id="setBaesong" parameterType="kr.co.mall.vo.BaesongVo">
  	insert into baesong(name,phone,post,juso,juso_etc,userid)
  	values(#{name},#{phone},#{post},#{juso},#{juso_etc},#{userid})
  </insert>
  <select id="bae_view" resultType="kr.co.mall.vo.BaesongVo">
  	select * from baesong where userid=#{param}
  </select>
  <update id="gibon">
  	update baesong set gibon=0 where userid=#{param}
  </update>
  <insert id="bae_add_ok" parameterType="kr.co.mall.vo.BaesongVo">
  	insert into baesong(name,phone,post,juso,juso_etc,userid,gibon)
  	values(#{name},#{phone},#{post},#{juso},#{juso_etc},#{userid},#{gibon})
  </insert>
  <select id="bae_up" resultType="kr.co.mall.vo.BaesongVo">
  	select * from baesong where id=#{param}
  </select>
  <update id="bae_up_ok" parameterType="kr.co.mall.vo.BaesongVo">
  	update baesong set name=#{name},phone=#{phone},post=#{post},juso=#{juso},
  	juso_etc=#{juso_etc},gibon=#{gibon} where id=#{id}
  </update>
  <delete id="bae_del">
  	delete from baesong where id=#{param}
  </delete>
  <update id="gibonchg">
    update baesong set gibon=1
    where id=(select max(id) from baesong where userid=#{param})
  </update>
  <update id="chg_ok">
  	update baesong set cla=#{param1} where id=#{param2}
  </update>
  
  <select id="getOcode" resultType="int">
  	select ifnull(max(right(ordercode,4)),0)+1 from gumae
  	where ordercode like concat(#{param},'%')
  </select>
  <insert id="order_ok" parameterType="kr.co.mall.vo.OrderVo">
  	insert into gumae(bae_id,su,pay,pro_juk,pprice,use_juk,
  	userid,pcode,ordercode,writeday,bank,card,gigan,gibonpay)
  	values(#{bae_id},#{su},#{pay},#{pro_juk},#{pprice},#{use_juk},
  	#{userid},#{pcode},#{ordercode},now(),#{bank},#{card},#{gigan},#{gibonpay})
  </insert>
</mapper>